<div class="mt-2 pt-4">

  <!--galerie d'image-->
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <img alt="Image 1" class="gallery__img" src="assets/Image/accueil/image-1.png">
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img alt="Image 2" class="gallery__img" src="assets/Image/accueil/image-2.png">
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img alt="Image 3" class="gallery__img" src="assets/Image/accueil/image-3.png">
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img alt="Image 4" class="gallery__img" src="assets/Image/accueil/image-4.png">
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img alt="Image 5" class="gallery__img" src="assets/Image/accueil/image-5.png">
    </figure>
    <figure class="gallery__item gallery__item--6">
      <img alt="Image 6" class="gallery__img" src="assets/Image/accueil/image-6.png">
    </figure>
    <figure class="gallery__item gallery__item--7">
      <img alt="Image 4" class="gallery__img" src="assets/Image/accueil/image-4.png">
    </figure>
    <figure class="gallery__item gallery__item--8">
      <img alt="Image 5" class="gallery__img" src="assets/Image/accueil/image-5.png">
    </figure>
    <figure class="gallery__item gallery__item--9">
      <img alt="Image 6" class="gallery__img" src="assets/Image/accueil/image-6.png">
    </figure>
  </div>
  <!--fin galerie-->

  <!--contributeur vedettes-->
  <div class="da-bg-grey mt-5 pb-4">
    <div class="text-center text-dark ">
      <p class="da-f-primary fs-3 fw-bold py-5">Contributeurs vedettes du mois</p>
      <div class="mx-5 d-flex justify-content-around">
        <div class="da-contributeur col-3  position-relative">
          <img alt="Image 5" class="da-contributeur-image" src="assets/Image/accueil/image-5.png">
          <div class="da-contributeur-container-avatar">
            <img alt="Image 5" class="da-contributeur-avatar" src="assets/Image/accueil/image-5.png">
            <h4 class="fw-bold mt-1 mb-0">Fatima DIA</h4>
            <h5 class="text-secondary mt-0">2,2 millions de vues</h5>
          </div>
        </div>
        <div class="da-contributeur col-3  position-relative">
          <img alt="Image 5" class="da-contributeur-image" src="assets/Image/accueil/image-5.png">
          <div class="da-contributeur-container-avatar">
            <img alt="Image 5" class="da-contributeur-avatar" src="assets/Image/accueil/image-5.png">
            <h4 class="fw-bold mt-1 mb-0">Fatima DIA</h4>
            <h5 class="text-secondary mt-0">2,2 millions de vues</h5>
          </div>
        </div>
        <div class="da-contributeur col-3  position-relative">
          <img alt="Image 5" class="da-contributeur-image" src="assets/Image/accueil/image-5.png">
          <div class="da-contributeur-container-avatar">
            <img alt="Image 5" class="da-contributeur-avatar" src="assets/Image/accueil/image-5.png">
            <h4 class="fw-bold mt-1 mb-0">Fatima DIA</h4>
            <h5 class="text-secondary mt-0">2,2 millions de vues</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4 text-center pt-4">
      <a class="da-btn da-bg-primary text-dark text-decoration-none px-4 py-3 ">Voire le
        classement</a>
    </div>
  </div>
  <!--fin vedette contrubuteur-->

  <!-- devenir contributeur-->
  <div class="my-5 p-4 row">
    <div class="col-6 px-4 mb-5">
      <p class="da-f-primary pt-4 mb-5 fs-2">Recevez jusqu'à70% de commission lorsqu'un acheteur
        télécharge votre contenue</p>
      <p class="col-8 mb-5 my-5">Importer vos images, illustrations vectorielles, icônes originales et laissez des
        millions
        de
        personnes les
        decouvrirs.</p>
      <a class="da-btn da-bg-primary text-dark text-decoration-none px-4 py-3">Voire le
        classement</a>
    </div>
    <div class="col-6 mt-4">
      <div class="da-devenir-contributeur-container-image">
        <img alt="Image 6" class="gallery__img" src="assets/Image/accueil/devenir-contributeur.png">
      </div>
    </div>
  </div>
  <!--fin devenir contrubuteur-->


  <!-- section commande-->
  <div class="row px-4 py-5 da-bg-primary-x5">
    <div class="col-1">
      <img alt="Image 6" class="gallery__img" src="assets/Image/accueil/icone-masque.png">
    </div>
    <div class="col-10 text-center">
      <p class="da-f-primary pt-4 mb-5 fs-2 fw-bold offset-2 col-6">Vous avez un besoin bien specifique ? Passer votre
        commande,
        nous
        vous
        répondrons dans un délait de 24H </p>
    </div>
    <div class="col-1 ">
      <img alt="Image 6" class="gallery__img" src="assets/Image/accueil/icone-masque.png">
    </div>
  </div>
  <!--fin section commande-->

</div>
