.blockForm{
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 750px;
    height: 550px;
    box-shadow: 4px 4px 0.6em #707B7C;
    display: flex;
    flex-direction: column;
}

.blockForm h1{
    color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.FormBlock{
    padding: 20px;
    padding-top: 0px;
}

.FormBlock div{
    margin-bottom: 10px;
}

.btn{
    margin-top: 10px;
    height: 30px;
    width: 120px;
    font-size: 12px;
    background-color: #f8ae1b;
    border-style: none;
    float: right;
}