<div class="blockForm">
    <h1>Informations générales</h1>
    <div class="FormBlock">
        <form class="row g-3">
            <div class="col-md-6">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="prenom" placeholder="Abdoulaye">
            </div>

            <div class="col-md-6">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" id="nom" placeholder="DIOP">
            </div>
            <div class="col-12">
              <label for="mail" class="form-label">Email</label>
              <input type="email" class="form-control" id="mail" placeholder="abdoulaye.diop@gmail.com">
            </div>
            <div class="col-md-6">
              <label class="form-label">Pays</label>
              <select id="pays" class="form-select">
                <option value="senegal">Sénégal</option>
                <option value="benin">Benin</option>
                <option value="congo">Congo</option>
                <option value="zair">Zair</option>
                <option value="togo">Togo</option>
                <option value="gabon">Gabon</option>
                <option value="cameroon">Cameroon</option>
                <option value="code-d-ivoire">Cote d'Ivoire</option>
              </select>
            </div>
            <div class="col-md-6">
                <label for="ville" class="form-label" >Ville</label><br />
                <select name="ville" id="ville" class="form-select">
                    <option value="medina">Medina</option>
                    <option value="ouakam">Ouakam</option>
                    <option value="sacre-coeur">Sacré-Coeur</option>
                    <option value="dieupeul">Dieupeul</option>
                    <option value="fass">Fass</option>
                    <option value="tilene">Tilène</option>
                    <option value="geule-tapee">Gueule-Tapée</option>
                    <option value="point-e">Point-E</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="code-postal" class="form-label">Code Postal </label>
                <input type="text" class="form-control" id="code-postal" placeholder="11500">
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label">Numéro de téléphone</label>
                <input type="number" class="form-control" id="phone" placeholder="78 482 03 96">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" routerLink="/front/commande/form2" >Suivant</button>
            </div>
          </form>
    </div>
    

</div>
