<app-header> </app-header>

<div class="conteneur">
    <section class="leftBlock">

        <div class="leftTop">
            <h1>Nos services</h1>
            <div class="content">
                <img src="assets/Image/image.png" height="25px" width="25px" alt="">
                <p>Photos personnalisées selon vos <br> besoins</p>
            </div>
            <div class="content">
                <img src="assets/Image/pencil.png" height="25px" width="25px" alt="">
                <p>Illustrations et icônes sur <br> commande</p>
            </div>
            <div class="content">
                <img src="assets/Image/pencil1.png" height="25px" width="25px" alt="">
                <p>Présentation powerpoint, flyer, <br> affiche, logo, video, etc</p>
            </div>
        </div>
    
        <div class="leftBottom">
            <p class="p">Contacter pour commander</p>
            <div class="content">
                <img src="assets/Image/phone.png" height="35px" width="35px" alt="">
                <p>(+221) 77 352 83 00</p>
            </div>
            <div class="content">
                <img src="assets/Image/whatsapp.png" height="30px" width="35px" alt="">
                <p>(+221) 77 352 83 00</p>
            </div>
            <div class="content">
                <img src="assets/Image/time.png" height="35px" width="35px" alt="">
                <p>Lundi - Sam : 8AM - 5PM</p>
            </div>
        </div>
    </section>
    
    <section class="rightBlock">
        <h1>Passez commande directement</h1>
        <p class="text"> 
            Remplisssez ce formulaire  pour passer commande en décrivant précisement
            vos besoins. Vous serez recontacté par mail dans les prochaines 24H pour
            votre devis.
        </p>
        <router-outlet> </router-outlet>
    </section>
</div>
