<div class="blockRight">
    <h1>Inscrivez-vous sur DrawAfrique</h1>
    <p>Déjà membre ?   <a href="/front/auth/">S'identifier ici</a></p>
    <h3>Identifiants personnels</h3>
    <div class="FormBlock">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" placeholder="Abdoulaye">
            </div>
  
            <div class="col-md-6">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="DIOP">
            </div>

            <div class="col-12">
                <label for="nameuser" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="nameuser" placeholder="@visionaruman">
              </div>

            <div class="col-12">
              <label for="mail" class="form-label">Email</label>
              <input type="email" class="form-control" id="mail" placeholder="abdoulaye.diop@gmail.com">
            </div>

            <div class="col-12">
                <label for="password" class="form-label">Mot de passe </label>
                <input type="password" class="form-control" id="password" placeholder="****">
            </div>
            <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input checkBox" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    <a href="">J'accepte les conditions générales d'utilisations</a>
                  </label>
                </div>
              </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" routerLink="#" >Continuer</button>
            </div>
          </form>
    </div>
</div>
