<div>
  <div class="px-3 mx-3">
    <!--titre collection-->
    <p class="da-f-primary fs-3 fw-bold pt-4">Collection populaires</p>
    <!--titres sous-collections-->
    <div class="pt-2">
      <app-sous-collection-link></app-sous-collection-link>
    </div>
  </div>
  <!--sous collections-->
  <div class="row mt-5">
    <!--sous collection 1-->
    <div class="col-4 px-2">
      <app-sous-collection></app-sous-collection>
    </div>
    <!--sous collection 2-->
    <div class="col-4 px-2">
      <app-sous-collection></app-sous-collection>
    </div>
    <!--sous collection 3-->
    <div class="col-4 px-2">
      <app-sous-collection></app-sous-collection>
    </div>
  </div>
</div>
