<div>
    <div class="bodySlider">
        <h1> Ils nous ont fais confiance</h1>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
                <div class="slide">
                    <img src="assets/Image/logoCafe.png" width="120" height="120">
                </div>
            </div>
    
        </div>
    </div>
    
    <div>
        <footer class="bg-white">
            
            <div class="container py-5">
                <div class="row py-3">
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">A propos</h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="#" class="text-muted">Qui sommes nous ?</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Monétiser vos création</a></li>
                        </ul>
                    </div>
            
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">Services Annexes</h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="#" class="text-muted">Photos, Illustrations, Icones personnaliés</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Modeles de présentation d'entreprise</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Flyer, logo, Affiche</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Video</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">Règlement</h6>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><a href="#" class="text-muted">Règlement</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Licences</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Avis de confidentialité</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Conditions d'utilisation</a></li>
                            <li class="mb-2"><a href="#" class="text-muted">Politique de sécurité de divulgation</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0">
                        <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
                        <p class="text-muted mb-4">Contactez nous sur contact@codmed.com</p>
                        <ul class="list-inline mt-4">
                            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook-official"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter-square"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank" title="youtube"><i class="fa fa-youtube-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="p-0 m-0 b-0">
        
        
            <div class="bg-light py-2">
                <div class="container text-center">
                    <p class="text-muted mb-0 py-2">&copy; 2020 DrawAfrique Tous droits réservés.</p>
                </div>
            </div>
            
        </footer>
    </div>
</div>
