<header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid logo px-5 mx-4 my-1">
      <a class="navbar-brand" href="#">
        <img class="w-25" src="assets/Image/logo.png">
      </a>
      <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/front/licence">Licence</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-dark" href="/front/tarif">Tarifs</a>
          </li>
          <li class="nav-item dropdown ms-3 me-4">
            <a aria-expanded="false" class="nav-link text-light" data-bs-toggle="dropdown" href="#" role="button">
              <svg class="bi bi-three-dots" fill="currentColor" height="16" viewBox="0 0 16 16"
                   width="16" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Votre profil</a></li>
              <li><a class="dropdown-item" href="#">Collection</a></li>
              <li><a class="dropdown-item" href="#">Parametre</a></li>
              <li><a class="dropdown-item" href="#">Deconnexion</a></li>
              <li><a class="dropdown-item" href="#">Langue</a></li>
              <li><a class="dropdown-item" href="#">Mentions légales</a></li>
              <li><a class="dropdown-item" href="#">Compteur</a></li>
            </ul>
          </li>
          <li class="nav-item mx-3 ms-4">
            <a class="nav-link  text-dark px-3 py-2 da-btn da-bg-secondery" href="/front/commande">Commander</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-dark px-3 py-2 da-btn da-bg-primary" href="#">Devenir contributeur</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--<header>
    <div class="logo">
        <p> DrawAfrique</p>
    </div>
    <nav>
        <ul>
            <li> <a href="#">Licences </a></li>
            <li> <a href="#">Tarifs </a></li>
            <li> <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <select id="year">
        <option value="hide">&#xf2bd;</option>
        <option value="#">Votre profil</option>
        <option value="#">Collection</option>
        <option value="#">Parametre</option>
        <option value="#">Deconnexion</option>
        <option value="#">Langue</option>
        <option value="#">Mentions légales</option>
        <option value="#"> &#xf33d; Compteur</option>
    </select>
    <button><a href="#">Commander </a></button>
    <button> <a href="#">Devenir contributeur</a></button>
</header>-->
