<app-header></app-header>

<div class="auth">
    <div class="blockLeft">
        <p>
            Vendez votre contenu pour recevoir jusqu'a 70%  de commission lorsqu'un acheteur 
            télécharge votre contenu
        </p>
        <img src="/assets/Image/photograph.png" width="360px" height="360px" alt="photograph">
        <a href="/front/auth/commission">Voir la répartition des commissions DrawAfrique</a>
        <a href="/front/auth">Se connecter</a>
    </div>

    <div class="blockRight">
        <router-outlet></router-outlet>
    </div>

</div>
