<div class="da-bg-head h-100 h-auto">
  <app-header></app-header>

  <div class="text-center pt-1 mt-4 text-light ">
    <p class="da-f-primary pt-5 mt-5">Les plus belles photos, illustration et icônes d'afrique</p>
    <p class="da-f-primary mb-5">partagés par des créateur talentueux</p>
    <div class="col-8 offset-2">
      <div class="input-group">
        <input aria-label="Recipient's username with two button addons" class="form-control py-3 px-5"
               placeholder="Rechercher des photos et des vecteurs"
               type="text">
        <button aria-expanded="false" class="border-start btn btn-light dropdown-toggle dropdown-toggle-split px-5"
                data-bs-toggle="dropdown" type="button">Type
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <button class="btn btn-warning px-4" type="button"><i class="fa fa-search"></i></button>
      </div>
      <p class="text-start pt-3">Sugestion: éducation, famille, transport, marché, tenue traditionnelle</p>
    </div>
    <p class="text-start p-5 m-5 mb-3">Telecharger cette arriere plan de DrawAfrique </p>
  </div>
</div>

<div class="text-center pb-3">
  <!-- menu  -->
  <app-menu></app-menu>
</div>
<hr class="dropdown-divider">

<router-outlet></router-outlet>


