<app-header></app-header>

<div class="conteneur">
    <div class="fondImg"> </div>

    <section class="content">

        <h1> Qu'est ce qui est autorisé ?</h1>
        <p> Utilisation promotionnelle, marketing ou publicitaire</p>

        <div class="table">
          <table>
            <tr class="bg-light">
              <th>Type de licence</th>
              <th>Licence standard</th>
              <th>Image gratuite <br> (attribution requise)</th>
            </tr>
            <tr>
              <td> </td>
              <td> <a href="">Consulter la Licence</a> </td>
              <td> <a href="">Consulter la Licence</a> </td>
            </tr>
            <tr>
                <td>Site internet et blogs</td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
            <tr>
                <td>Rapport d'activité et documents électroniques</td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
            <tr>
              <td>Présentation multimédia (powerpoint, flash, etc)</td>
              <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
              <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
            <tr>
                <td>Publicité et matériel promotionnel (en ligne) </td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
            <tr>
                <td>
                  Offline Advertising and Promotional Matérials (in magazines, newspapers,
                  billboards, point of sale materials etc) Publicité et matériel promotionnel
                  (hors ligne) dans les magazines, journaux, panneaux d'affichage, PLV, etc.
                </td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
                <td >10.000 exemplaires</td>
            </tr>
            <tr>
              <td>
                Documents imprimés (envoie de courrier, papier à en-tete, 
                dépliants, etc)
              </td>
              <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
              <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
            <tr>
                <td>Vidéos d'entreprise ou publicitaire (TV ou en ligne)</td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
                <td><img src="/assets/Image/check.png" alt="check" width="30px" height="30px"></td>
            </tr>
         </table> 
        </div>
    </section>

</div>
