@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,500;1,600;1,700;1,800&display=swap');

.conteneur{
    background: url("/assets/Image/fond5.jpeg") no-repeat ;
    background-size:cover;
    display: flex;
    align-items: center;
    height: 750px;
    margin: 10px 0px 250px 0px;
}

.block_left h1{
    color: white;
    font-size: 45px;
    line-height: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', 'Georgia';
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-bottom: 50px;
}

.block_left p{
    color: white;
    font-size: 23px;
    line-height: 33px;
    font-family: 'Times New Roman','Georgia';
    text-shadow: black 0.1em 0.1em 0.2em;
}

.block_left{
    margin: 0px 200px 0px 100px;
}

.block_right{
    background-color: white;
    border: 5px #f8ae1b solid;
    border-radius: 60px;
    height: 775px;
    width: 530px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 5px 10px #1c1a19;
    position: relative;
    top: 100px;
}


.block_right h1{
    font-size: 35px;
    font-weight: bolder;
    color: black;
    margin-top: 55px;
    font-family: 'Times New Roman','Georgia';
}

.block_right .p{
    margin-bottom: 25px ;
    font-size: 22px;
    color: #4B4952;
}

.block_right h2{
    font-size: 30px;
    line-height: 40px;
    font-weight: bolder;
    color: black;
    font-family: 'Georgia';
    margin-bottom: 30px;
    text-align: center;
}

.block_right ul li{
    font-size: 20px;
    color: gray;
    line-height: 25px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 400px;
}

.separator pre{
    padding-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #f8ae1b;
    border-radius: 3px;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
.separator:not(:empty)::after {
    margin-left: .25em;
}


.tab .ul{
    padding: 0px;
    background: white;
    display: flex;
    margin: 0;
}

.tab .ul li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    font-size: 16px;
    margin: 20px;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
}


.color{
    color: black !important;
    border-color: black !important;
}

.content{
    background: white;
    display: flex;
    justify-content: center;    
    padding: 20px;
}

.oldPrice{
    text-decoration: line-through;
}

.newPrice{
    font-weight: bold;
    color: black;
}

.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 210px;
    text-align: center;
    height: 55px;
    background-color: #f8ae1b;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    margin-top: 30px;
}