<div class="blockRight">
    <h1>Connectez-vous sur DrawAfrique</h1>
    <p>Pas encore inscrit ?   <a href="/front/auth/signup">S'inscrire ici</a></p>
    <h3>Identifiants de connexion</h3>
    <div class="FormBlock">
        <form class="row g-3">
            <div class="col-12">
              <label for="mail" class="form-label">Email</label>
              <input type="email" class="form-control" id="mail" placeholder="abdoulaye.diop@gmail.com">
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Mot de passe </label>
                <input type="password" class="form-control" id="password" placeholder="****">
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" routerLink="#" >Se connecter</button>
            </div>
          </form>
    </div>
</div>
